body {
  background-color: #2c2f33;
  visibility: hidden;
  overflow-x: hidden;
}

h1 {
  padding: 30px 30px;
  color: #00aeff;
  text-align: center;
  font-family: "Comfortaa";
  padding: 15px;
  padding-bottom: 4px;
}

h2 {
  color: white;
  text-align: center;
  padding: 30px;
  font-family: "Nunito";
}

h3 {
  color: white;
  text-align: center;
  font-family: "Nunito";
}

p {
  color: orange;
  font-family: "Baloo Tamma 2";
}

a {
  transition-duration: 0.4s;
  color: #7289da;
}

a:hover {
  color: #4caf50;
}

.center {
  text-align: center;
}

button {
  text-decoration: none;
  padding: 1px 10px;
  background-color: #2c2f33;
  color: orange;
  font-size: 18px;
  transition-duration: 0.4s;
  border: 2px solid #4caf50;
  border-radius: 8px;
  font-family: "Nunito";
}

.small-button { /* Used on 404 page */
  font-size: 15px;
}

button:hover {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

img {
  vertical-align: middle;
}

/* Footer Stuff */
.bottom, .bottom2, .cookie, .cookie2 {
  /* position: absolute; */
  bottom: 40px;
  width: 100%;
  height: 20px;
  background-color: #23272A;
  border-radius: 6px;
  text-align: center;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Baloo Tamma 2";
}

.bottom2 {
  height: 50px;
  display: none;
}

.cookie2 {
  display: none;
}

.cookie, .cookie2 {
  bottom: 5px;
}

.cookie > button, .cookie2 > button {
  background-color: #2c2f33;
  border: 2px solid #4caf50;
  color: #4caf50;
  font-family: "Nunito";
  border-radius: 8px;
  font-size: 16px;
  transition-duration: 0.4s;
  float: right;
  position: relative;
  right: 1.5%;
  bottom: 10px;
}

.cookie > button:hover, .cookie2 > button:hover {
  background-color: #2c2f33;
  border: 2px solid orange;
  color: #fff;
  cursor: pointer;
}

.cookie > span {
  float: left;
  padding-left: 15px;
}

.cemoji {
  display: inline;
  width: 10px;
  height: 10px;
}

#setup-image {
  width: 500px;
}

@media (min-width: 900px) {
  .bottom {
    display: block;
  }
  .bottom2 {
    display: none;
  }
  .bottom3 {
    position: absolute;
  }
  .cookie {
    display: block;
  }
  .cookie2 {
    display: none;
  }
}

@media (max-width: 599px) {
  .bottom {
    display: none;
  }
  .bottom2 {
    display: block;
  }
  .bottom3 {
    position: static;
  }
  .cookie {
    display: block;
  }
  .cookie2 {
    display: none;
  }
  .example-images > picture > img {
    width: 300px;
  }
  #setup-image {
    width: 400px;
  }
}
